@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic);
/* line 1, ../scss/_layout.scss */
body,
html {
  margin: 0px;
  padding: 0px;
  background-color: #eee;
}
/* line 10, ../scss/_layout.scss */
body.toolbar section#header-wrapper,
html.toolbar section#header-wrapper {
  top: auto;
}
/* line 13, ../scss/_layout.scss */
body.toolbar section#menu-wrapper,
html.toolbar section#menu-wrapper {
  top: auto;
  margin-top: 3em;
}

/* line 22, ../scss/_layout.scss */
section p,
section h1,
section h2,
section h3,
section h4,
section h5,
section h6,
section li,
section label,
section .description {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}
/* line 36, ../scss/_layout.scss */
section .description {
  font-size: 70% !important;
}
/* line 40, ../scss/_layout.scss */
section#menu-wrapper {
  max-width: 250px;
  min-width: 150px;
  top: 3em;
  width: 225px;
  height: 100%;
  float: left;
  position: fixed;
  background-color: #2d353c;
  border-right: 3px solid #171b1f;
}
/* line 52, ../scss/_layout.scss */
section#header-wrapper {
  width: 100%;
  height: 3em;
  float: right;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  top: 0;
}
/* line 62, ../scss/_layout.scss */
section#content-wrapper {
  margin-top: 3.5em;
  margin-left: 240px;
  margin-right: 1em;
}
/* line 68, ../scss/_layout.scss */
section h1 {
  font-size: 1.3em;
}
/* line 71, ../scss/_layout.scss */
section h2 {
  font-size: 1.1em;
}
/* line 74, ../scss/_layout.scss */
section h3 {
  font-size: 0.9em;
}
/* line 77, ../scss/_layout.scss */
section h4 {
  font-size: 0.7em;
}
/* line 80, ../scss/_layout.scss */
section h5 {
  font-size: 0.5em;
}
/* line 83, ../scss/_layout.scss */
section h6 {
  font-size: 0.3em;
}
/* line 86, ../scss/_layout.scss */
section p {
  font-size: 0.8em;
}

/* line 2, ../scss/_style.scss */
section#menu-wrapper {
  color: #6d7983;
}
/* line 5, ../scss/_style.scss */
section#menu-wrapper #menu h2 {
  font-size: 14px;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}
/* line 13, ../scss/_style.scss */
section#menu-wrapper #menu ul {
  padding: 0;
  margin: 0;
}
/* line 17, ../scss/_style.scss */
section#menu-wrapper #menu ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 23, ../scss/_style.scss */
section#menu-wrapper #menu ul li.active-trail > a > div {
  color: #fff;
  background-color: #171b1f !important;
}
/* line 29, ../scss/_style.scss */
section#menu-wrapper #menu ul li > a {
  text-decoration: none;
}
/* line 30, ../scss/_style.scss */
section#menu-wrapper #menu ul li > a > div {
  padding-left: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: #a8acb1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
/* line 38, ../scss/_style.scss */
section#menu-wrapper #menu ul li > a > div:hover {
  background-color: #232a2f;
}
/* line 50, ../scss/_style.scss */
section #user-login label {
  margin-bottom: 0.1em;
}
/* line 56, ../scss/_style.scss */
section input[type="textarea"], section input[type="text"], section input[type="password"] {
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 0.3em;
  outline: none !important;
  margin-left: 0;
}
/* line 66, ../scss/_style.scss */
section input[type="submit"] {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border: none;
  padding: 0.71429em 1.5em;
  border-radius: 3px;
  background-color: #596876;
  color: #bfbfbf;
}
/* line 74, ../scss/_style.scss */
section input[type="submit"]:hover {
  cursor: pointer;
  background-color: #2d353c;
  color: #FFF;
}
/* line 82, ../scss/_style.scss */
section table {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
/* line 87, ../scss/_style.scss */
section table thead tr th {
  padding: 0.5em;
  font-weight: 300;
  background-color: #bbbbbb;
  border-bottom: 1px solid #aeaeae;
}
/* line 97, ../scss/_style.scss */
section table tbody tr td {
  background-color: white;
  padding: 0.5em;
  font-family: 'Roboto', sans-serif;
}
/* line 106, ../scss/_style.scss */
section a {
  color: #333;
}
