@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic);
body,
html {
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee; }
  body.toolbar section#header-wrapper,
  html.toolbar section#header-wrapper {
    top: auto; }
  body.toolbar section#menu-wrapper,
  html.toolbar section#menu-wrapper {
    top: 0;
    padding-top: 3em; }

section p,
section h1,
section h2,
section h3,
section h4,
section h5,
section h6,
section li,
section label,
section .description {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300; }
section .description {
  font-size: 70% !important; }
section#menu-wrapper {
  top: 0;
  padding-top: 3em;
  height: 100%;
  position: fixed;
  background-color: #2d353c;
  border-right: 3px solid #171b1f; }
section#header-wrapper {
  width: 100%;
  height: 10em;
  background-color: white;
  border-bottom: 1px solid #aaaaaa;
  top: 0;
  z-index: 1000; }
  section#header-wrapper #header {
    padding: 0.5em;
    padding-left: 1em; }
    section#header-wrapper #header h1 {
      font-weight: 400; }
    section#header-wrapper #header h1,
    section#header-wrapper #header h3 {
      display: inline-block; }
section#content-wrapper {
  margin-top: -3em;
  font-family: "Roboto", sans-serif !important; }
  section#content-wrapper.full-width {
    margin-left: 0px !important; }
section h1 {
  margin: 1em 0;
  font-size: 1.4em; }
section h2 {
  margin: 0.9em 0;
  font-size: 1.2em;
  line-height: 1rem; }
  section h2.pane-title {
    font-weight: 400; }
section h3 {
  margin: 0.8em 0;
  font-size: 1.1em; }
section h4 {
  margin: 0.7em 0;
  font-size: 0.8em; }
section h5 {
  margin: 0.6em 0;
  font-size: 0.6em; }
section h6 {
  margin: 0.5em 0;
  font-size: 0.4em; }
section p {
  font-size: 1em; }

#left-content {
  float: left; }

#right-content {
  float: right; }

.center-text {
  text-align: center; }

.center-block {
  display: block;
  margin: 0 auto; }

.span-1 {
  width: 6.25%; }

.span-2 {
  width: 14.585%; }

.span-3 {
  width: 22.92%; }

.span-4 {
  width: 31.25%; }

.span-5 {
  width: 39.58%; }

.span-6 {
  width: 47.92%; }

.span-7 {
  width: 56.26%; }

.span-8 {
  width: 64.58%; }

.span-9 {
  width: 72.92%; }

.span-10 {
  width: 81.25%; }

.span-11 {
  width: 89.58%; }

.span-12 {
  width: 100%; }

.offset-1 {
  margin-left: 6.25%; }

.offset-2 {
  margin-left: 14.585%; }

.offset-3 {
  margin-left: 22.92%; }

.offset-4 {
  margin-left: 31.25%; }

.offset-5 {
  margin-left: 39.58%; }

.offset-6 {
  margin-left: 47.92%; }

.offset-7 {
  margin-left: 56.26%; }

.offset-8 {
  margin-left: 64.58%; }

.offset-9 {
  margin-left: 72.92%; }

.offset-10 {
  margin-left: 81.25%; }

@media screen and (max-width: 769px) {
  * {
    font-size: 98%; }

  #menu, #title-type {
    display: none !important; }

  #menu-wrapper {
    width: 50px;
    z-index: 1000; }

  #content-wrapper {
    margin-left: 50px; }

  #column-right-wrapper {
    padding-left: 0px; }

  .site-name {
    display: none !important; }

  .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12 {
    width: 85%; }

  .panel-col-first, .panel-col-last, .panel-col {
    width: 91% !important; }
    .panel-col-first .inside, .panel-col-last .inside, .panel-col .inside {
      margin: 0px !important; } }
@media screen and (min-width: 1491px) {
  .show-1490 {
    display: none; } }
@media screen and (max-width: 1490px) {
  .hide-1490 {
    display: none; } }
@media screen and (min-width: 770px) {
  .show-768 {
    display: none; } }
@media screen and (max-width: 769px) {
  .hide-768 {
    display: none; } }
.inline-block {
  display: inline-block; }

.float-left {
  float: left; }

.padding-left {
  padding-left: 1em; }

.padding-right {
  padding-right: 1em; }

.margin-left {
  margin-left: 1em; }

.margin-right {
  margin-right: 1em; }

select {
  display: block; }

section {
  font-weight: 300; }
  section#menu-wrapper {
    color: #6d7983; }
    section#menu-wrapper #menu h2 {
      font-size: 12px;
      padding-left: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      margin: 0; }
    section#menu-wrapper #menu ul {
      padding: 0;
      margin: 0; }
      section#menu-wrapper #menu ul li {
        list-style-type: none;
        padding: 0;
        margin: 0; }
        section#menu-wrapper #menu ul li.active-trail > a > div, section#menu-wrapper #menu ul li.active > a > div {
          color: white;
          background-color: #171b1f !important; }
        section#menu-wrapper #menu ul li > a {
          text-decoration: none; }
          section#menu-wrapper #menu ul li > a > div {
            font-size: 14px;
            padding-left: 1em;
            padding-bottom: 0.8em;
            padding-top: 0.8em;
            color: #a8acb1;
            -webkit-transition: 0.2s ease;
            transition: 0.2s ease; }
            section#menu-wrapper #menu ul li > a > div:hover {
              background-color: #232a2f; }
    section#menu-wrapper #mobile-menu {
      margin-left: -150px;
      padding-right: 50px; }
      section#menu-wrapper #mobile-menu #menu-open {
        padding-left: 165px;
        color: #6d7983;
        font-size: 1.618em;
        position: absolute;
        margin-top: 10px; }
      section#menu-wrapper #mobile-menu #menu-close {
        opacity: 0;
        color: #6d7983;
        font-size: 1.618em;
        margin-left: 92%;
        margin-top: 3px;
        position: absolute; }
      section#menu-wrapper #mobile-menu h2 {
        font-size: 10px;
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0; }
      section#menu-wrapper #mobile-menu ul {
        padding: 0;
        margin: 0; }
        section#menu-wrapper #mobile-menu ul li {
          list-style-type: none;
          padding: 0;
          margin: 0; }
          section#menu-wrapper #mobile-menu ul li.active-trail > a > div, section#menu-wrapper #mobile-menu ul li.active > a > div {
            color: white;
            background-color: #171b1f !important; }
          section#menu-wrapper #mobile-menu ul li > a {
            text-decoration: none; }
            section#menu-wrapper #mobile-menu ul li > a > div {
              font-size: 12px;
              padding-left: 1em;
              padding-bottom: 0.8em;
              padding-top: 0.8em;
              color: #a8acb1;
              -webkit-transition: 0.2s ease;
              transition: 0.2s ease; }
              section#menu-wrapper #mobile-menu ul li > a > div:hover {
                background-color: #232a2f; }
  section #user-login-title {
    margin-top: 80px; }
  section #user-login {
    width: 400px;
    padding: 2em;
    margin: 30px auto; }
    section #user-login label {
      margin-bottom: 0.1em; }
    section #user-login .form-required {
      display: none; }
  section form input[type=text]:focus, section form input[type=password]:focus, section form input[type=email]:focus, section form input[type=url]:focus, section form input[type=date]:focus, section form input[type=tel]:focus, section form input[type=number]:focus, section form input[type=search]:focus {
    border-color: #2d353c;
    box-shadow: 0 1px 0 0 #2d353c; }
  section form input[type="submit"] {
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    border: none;
    padding: 0.71429em 1.5em;
    border-radius: 3px;
    background-color: #596876;
    color: #bfbfbf; }
    section form input[type="submit"]:hover {
      cursor: pointer;
      background-color: #2d353c;
      color: #FFF; }
  section form .form-required {
    color: white; }
  section table {
    border-radius: 3px;
    width: 100%;
    font-family: "Roboto", sans-serif; }
    section table thead tr th {
      padding: 0.5em;
      font-weight: 400;
      background-color: #fff;
      border-bottom: 1px solid #aeaeae; }
    section table tbody tr td {
      background-color: #fff;
      padding: 0.5em;
      font-family: "Roboto", sans-serif; }
  section .view-content {
    border-radius: 3px; }
    section .view-content .views-row {
      padding: 0.7em 0.6em;
      border-bottom: 1px solid #aeaeae;
      font-size: 95%; }
      section .view-content .views-row.views-row-even {
        background-color: #fff; }
      section .view-content .views-row.views-row-odd {
        background-color: #fff; }
      section .view-content .views-row .views-field {
        padding: 0.1em 0; }
  section .view-footer {
    margin-top: 1em; }
  section .item-list .pager {
    margin-top: 5px; }
    section .item-list .pager .pager-current {
      font-weight: 300; }
  section .views-exposed-form label {
    font-weight: 300; }
  section a {
    color: #333; }
  section #content-header {
    margin-top: 0.3em;
    margin-bottom: 0em; }
    section #content-header #title {
      display: inline;
      font-weight: bold;
      color: #FFF;
      border-radius: 3px; }
    section #content-header #title-type {
      display: inline;
      padding: 0.4em; }
    section #content-header > #title {
      background-color: #2d353c;
      padding: 0.4em;
      margin-top: 1em 0; }
    section #content-header .risk-highlycritical,
    section #content-header .risk-moderatelycritical,
    section #content-header .risk-critical,
    section #content-header .risk-lesscritical {
      padding: 0.6em;
      padding-top: 0.8em; }
  section #content-main {
    z-index: -10; }
    section #content-main .publish-info {
      padding: 1em;
      margin-top: 0px; }
  section #widthsetter {
    width: 1040px; }
  section .login-messages {
    padding-left: 5px;
    padding-right: 5px; }
    section .login-messages .card.messages {
      max-width: 400px;
      min-width: 400px;
      margin: 0 auto; }
  section .action-links,
  section .card {
    margin-top: 0.5em;
    background-color: #fff; }
    section .action-links.messages,
    section .card.messages {
      background-image: none;
      padding: 0.5em 0.75em;
      border: none;
      color: #FFF; }
      section .action-links.messages.error,
      section .card.messages.error {
        background-color: #d35400; }
      section .action-links.messages.status,
      section .card.messages.status {
        background-color: #27ae60; }
      section .action-links.messages.warning,
      section .card.messages.warning {
        background-color: #f4d03f; }
      section .action-links.messages ul li,
      section .card.messages ul li {
        list-style-type: none; }
    section .action-links .card-title,
    section .card .card-title {
      color: #333; }
    section .action-links:last-child,
    section .card:last-child {
      margin-bottom: 0.5em; }
    section .action-links a,
    section .card a {
      color: #333333 !important; }
  section .action-links {
    display: inline-block;
    width: auto;
    margin-bottom: 10px; }
    section .action-links li {
      list-style-type: none; }
  section .risk-highlycritical {
    padding: 2px;
    border-radius: 3px;
    color: #FFF;
    background-color: #c0392b; }
  section .risk-moderatelycritical {
    padding: 2px;
    border-radius: 3px;
    color: #FFF;
    background-color: #f39c12; }
  section .risk-critical {
    padding: 2px;
    border-radius: 3px;
    color: #FFF;
    background-color: #d35400; }
  section .risk-lesscritical {
    padding: 2px;
    border-radius: 3px;
    color: #FFF;
    background-color: #f1c40f; }

.logo {
  margin-left: 10px;
  margin-top: 3px; }
  .logo.center {
    margin-left: 49%; }

.site-name {
  display: inline-block;
  position: absolute;
  margin-left: 10px; }

.page-client-site #content-main .client-projects {
  margin-top: 7px;
  margin-bottom: 0.5em; }
.page-client-site #content-main td.secure {
  background-color: #f4d03f;
  color: #fff; }
.page-client-site #content-main td.unsecure {
  background-color: #d65548;
  color: #fff; }
.page-client-site #content-main td.unsupported {
  background-color: #eb9950;
  color: #fff; }
.page-client-site #content-main td.latest {
  background-color: #36d278;
  color: #fff; }

.content-title {
  padding-bottom: 20px; }

.samurai-blue {
  background-color: #2d353c; }
  .samurai-blue:hover {
    background-color: #434f59; }

.card.popup {
  transition: box-shadow 0.2s ease; }

.card.popup:hover {
  z-index: 9;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.flatten {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.collapsible-body {
  background-color: #FFF; }

#gitapi_wrapper div {
  background-color: #EEEEEE;
  margin: 10px 0; }
  #gitapi_wrapper div b {
    padding-left: 10px;
    padding-top: 10px; }
  #gitapi_wrapper div .form-item {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px; }

.form-item-security-samurai-gitapi-model {
  display: inline-block; }
