body,
html {
  margin: 0px;
  padding: 0px;
  background-color: $body_background_color;

  &.toolbar {
    section {

      &#header-wrapper {
        top: auto;
      }
      &#menu-wrapper {
        top: auto;
        margin-top: 3em;
      }
    }
  }
}

section {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  label,
  .description {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
  }

  .description {
    font-size: 70% !important;
  }

  &#menu-wrapper {
    max-width: 250px;
    min-width: 150px;
    top: 3em;
    width: 225px;
    height: 100%;
    float: left;
    position: fixed;
    background-color: $menu_background_color;
    border-right: $menu_right_border_width solid $menu_border_color;
  }

  &#header-wrapper {
    width: 100%;
    height: 3em;
    float: right;
    position: fixed;
    background-color: $header_background_color;
    border-bottom: 1px solid $header_border_color;
    top: 0;
  }

  &#content-wrapper {
    margin-top: 3.5em;
    margin-left: 240px;
    margin-right: 1em;
    font-family: 'Roboto', sans-serif !important;
    &.full-width {
      margin-left: 0px !important;
    }
  }

  #column-right-wrapper {
    margin-left: 53px;
    margin-top: 79px;
  }

  h1 {
    margin: 1em 0;
    font-size: 1.4em;
  }
  h2 {
    margin: 0.9em 0;
    font-size: 1.2em;
  }
  h3 {
    margin: 0.8em 0;
    font-size: 1.1em;
  }
  h4 {
    margin: 0.7em 0;
    font-size: 0.8em;
  }
  h5 {
    margin: 0.6em 0;
    font-size: 0.6em;
  }
  h6 {
    margin: 0.5em 0;
    font-size: 0.4em;
  }
  p {
    font-size: 1em;
  }
}

#left-content {
  width: 70%;
  float: left;
}

#right-content {
  width: 30%;
  float: right;
}

.center-text {
  text-align: center;
}
