body,
html {
  margin: 0px;
  padding: 0px;
  background-color: $body_background_color;

  &.toolbar {
    section {

      &#header-wrapper {
        top: auto;
      }
      &#menu-wrapper {
        top: auto;
        margin-top: 3em;
      }
    }
  }
}

section {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  label,
  .description {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
  }

  .description {
    font-size: 70% !important;
  }

  &#menu-wrapper {
    max-width: 250px;
    min-width: 150px;
    top: 3em;
    width: 225px;
    height: 100%;
    float: left;
    position: fixed;
    background-color: $menu_background_color;
    border-right: $menu_right_border_width solid $menu_border_color;
  }

  &#header-wrapper {
    width: 100%;
    height: 3em;
    float: right;
    position: fixed;
    background-color: $header_background_color;
    border-bottom: 1px solid $header_border_color;
    top: 0;
  }

  &#content-wrapper {
    margin-top: 3.5em;
    margin-left: 240px;
    margin-right: 1em;
    font-family: 'Roboto', sans-serif !important;
    &.full-width {
      margin-left: 0px !important;
    }
  }

  #column-right-wrapper {
    margin-top: 79px;
  }

  h1 {
    margin: 1em 0;
    font-size: 1.4em;
  }
  h2 {
    margin: 0.9em 0;
    font-size: 1.2em;
    &.pane-title {
      font-weight: 400;
    }
  }
  h3 {
    margin: 0.8em 0;
    font-size: 1.1em;
  }
  h4 {
    margin: 0.7em 0;
    font-size: 0.8em;
  }
  h5 {
    margin: 0.6em 0;
    font-size: 0.6em;
  }
  h6 {
    margin: 0.5em 0;
    font-size: 0.4em;
  }
  p {
    font-size: 1em;
  }
}

#left-content {
  float: left;
}

#right-content {
  float: right;
}

.center-text {
  text-align: center;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.span_1 { width: 6.25%; }
.span_2 { width: 14.585%; }
.span_3 { width: 22.92%; }
.span_4 { width: 31.25%; }
.span_5 { width: 39.58%; }
.span_6 { width: 47.92%; }
.span_7 { width: 56.26%; }
.span_8 { width: 64.58%; }
.span_9 { width: 72.92%; }
.span_10 { width: 81.25%; }
.span_11 { width: 89.58%; }
.span_12 { width: 100%; }
