body,
html {
  margin: 0px;
  padding: 0px;
  background-color: $body_background_color;

  &.toolbar {
    section {

      &#header-wrapper {
        top: auto;
      }
      &#menu-wrapper {
        top: auto;
        margin-top: 3em;
      }
    }
  }
}

section {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  label,
  .description {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
  }

  .description {
    font-size: 70% !important;
  }

  &#menu-wrapper {
    top: 3em;
    height: 100%;
    position: fixed;
    background-color: $menu_background_color;
    border-right: $menu_right_border_width solid $menu_border_color;
  }

  &#header-wrapper {
    width: 100%;
    height: 3em;
    float: right;
    position: fixed;
    background-color: $header_background_color;
    border-bottom: 1px solid $header_border_color;
    top: 0;
  }

  &#content-wrapper {
    margin-top: 55px;
    font-family: 'Roboto', sans-serif !important;
    &.full-width {
      margin-left: 0px !important;
    }
  }

  h1 {
    margin: 1em 0;
    font-size: 1.4em;
  }
  h2 {
    margin: 0.9em 0;
    font-size: 1.2em;
    line-height: 1rem;
    &.pane-title {
      font-weight: 400;
    }
  }
  h3 {
    margin: 0.8em 0;
    font-size: 1.1em;
  }
  h4 {
    margin: 0.7em 0;
    font-size: 0.8em;
  }
  h5 {
    margin: 0.6em 0;
    font-size: 0.6em;
  }
  h6 {
    margin: 0.5em 0;
    font-size: 0.4em;
  }
  p {
    font-size: 1em;
  }
}

#left-content {
  float: left;
}

#right-content {
  float: right;
}

.center-text {
  text-align: center;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.span-1 { width: 6.25%; }
.span-2 { width: 14.585%; }
.span-3 { width: 22.92%; }
.span-4 { width: 31.25%; }
.span-5 { width: 39.58%; }
.span-6 { width: 47.92%; }
.span-7 { width: 56.26%; }
.span-8 { width: 64.58%; }
.span-9 { width: 72.92%; }
.span-10 { width: 81.25%; }
.span-11 { width: 89.58%; }
.span-12 { width: 100%; }

.offset-1 { margin-left: 6.25%; }
.offset-2 { margin-left: 14.585%; }
.offset-3 { margin-left: 22.92%; }
.offset-4 { margin-left: 31.25%; }
.offset-5 { margin-left: 39.58%; }
.offset-6 { margin-left: 47.92%; }
.offset-7 { margin-left: 56.26%; }
.offset-8 { margin-left: 64.58%; }
.offset-9 { margin-left: 72.92%; }
.offset-10 { margin-left: 81.25%; }

// Average portrait tablet
@media screen and (max-width: 769px) {
  * { font-size: 98%; }
  #menu, #title-type { display: none !important; }
  #menu-wrapper { width: 50px; z-index: 1000; }
  #content-wrapper { margin-left: 50px; }
  #column-right-wrapper { padding-left: 0px; }
  .site-name { display: none !important; }
  .span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12 { width: 85%; }
  .panel-col-first, .panel-col-last, .panel-col { width: 91% !important; .inside { margin: 0px !important; } }
}

// Hide and show 1490px
@media screen and (min-width: 1491px) { .show-1490 { display: none; } }
@media screen and (max-width: 1490px) { .hide-1490 { display: none; } }

// Hide and show 768px
@media screen and (min-width: 770px) { .show-768 { display: none; } }
@media screen and (max-width: 769px) { .hide-768 { display: none; } }

.inline-block {
  display: inline-block;
}
.float-left {
  float: left;
}
.padding-left {
  padding-left: 1em;
}
.padding-right {
  padding-right: 1em;
}
.margin-left {
  margin-left: 1em;
}
.margin-right {
  margin-right: 1em;
}