section {
  font-weight: 300;
  
  &#menu-wrapper {
    color: $menu_font_color;
    #menu {
      h2 {
        font-size: 12px;
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0;
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          padding: 0;
          margin: 0;
          &.active-trail,
          &.active {
            > a {
              & > div {
                color: $menu_item_active_font_color;
                background-color: $menu_item_active_background_color !important;
              }
            }
          }
          & > a {
            & > div {
              font-size: 14px;
              padding-left: 1em;
              padding-bottom: 0.8em;
              padding-top: 0.8em;
              color: $menu_item_font_color;
              -webkit-transition: 0.2s ease;
              transition: 0.2s ease;

              &:hover {
                background-color: $menu_item_hover_background_color;
              }
            }
            text-decoration: none;
          }
        }
      }
    }

    #mobile-menu {
      margin-left: -150px;
      padding-right: 50px;
      #menu-open {
        padding-left: 165px;
        color: $menu_font_color;
        font-size: 1.618em;
        position: absolute;
        margin-top: 10px;
      }
      #menu-close {
        opacity: 0;
        color: $menu_font_color;
        font-size: 1.618em;
        margin-left: 92%;
        margin-top: 3px;
        position: absolute;
      }
      h2 {
        font-size: 10px;
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0;
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          padding: 0;
          margin: 0;
          &.active-trail,
          &.active {
            > a {
              & > div {
                color: $menu_item_active_font_color;
                background-color: $menu_item_active_background_color !important;
              }
            }
          }
          & > a {
            & > div {
              font-size: 12px;
              padding-left: 1em;
              padding-bottom: 0.8em;
              padding-top: 0.8em;
              color: $menu_item_font_color;
              -webkit-transition: 0.2s ease;
              transition: 0.2s ease;

              &:hover { 
                background-color: $menu_item_hover_background_color;
              }
            }
            text-decoration: none;
          }
        }
      }
    }
  }

  #user-login-title {
    margin-top: 80px;
  }
  #user-login {
    label {
      margin-bottom: 0.1em;
    }
    .form-required {
      display: none;
    }
    width: 400px;
    padding: 2em;
    margin: 30px auto;
  }

  form {
    input {
      &[type=text],
      &[type=password],
      &[type=email],
      &[type=url],
      &[type=date],
      &[type=tel],
      &[type=number],
      &[type=search] {
        &:focus {
          border-color: $menu_background_color;
          box-shadow: 0 1px 0 0 $menu_background_color;
        }
      }
      &[type="submit"] {
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        transition: 0.3s ease;
        border: none;
        padding: ($button_submit_horz_padding / 2.1) $button_submit_horz_padding;
        border-radius: $button_submit_border_radius;
        background-color: lighten(#2d353c, 20%);
        color: darken(#FFF, 25%);
        &:hover {
          cursor: pointer;
          background-color: #2d353c;
          color: #FFF;
        }
      }
    }
    .form-required {
      color: $required_input;
    }
  }

  table {
    border-radius: $border-radius;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    thead {
      tr {
        th {
          padding: 0.5em;
          font-weight: 400;
          background-color: #fff;
          border-bottom: 1px solid darken($body_background_color, 25%);
        }
      }
    }
    tbody {
      tr {
        td {
          background-color: #fff;
          padding: 0.5em;
          font-family: 'Roboto', sans-serif;
        }
      }
    }
  }

  .view-content {
    border-radius: $border-radius;
    .views-row {
      padding: 0.7em 0.6em;
      border-bottom: 1px solid darken($body_background_color, 25%);
      font-size: 95%;
      &.views-row-even {
        background-color: #fff;
      }
      &.views-row-odd {
        background-color: #fff;
      }
      .views-field {
        padding: 0.1em 0;
      }
    }
  }
  .view-footer { 
    margin-top: 1em;
  }
  .item-list {
    .pager {
      margin-top: 5px;
      .pager-current {
        font-weight: 300;
      }
    }
  }
  .views-exposed-form {
    label {
      font-weight: 300;
    }
  }

  a {
    color: #333;
  }

  #content-header {
    margin-top: 0.3em;
    margin-bottom: 0em;
    #title {
      display: inline;
      font-weight: bold;
      color: #FFF;
      border-radius: $border-radius;
    }
    #title-type {
      display: inline;
      padding: 0.4em;
    }
    & > #title {
      background-color: $menu-background-color;
      padding: 0.4em;
      margin-top: 1em 0;
    }
    .risk-highlycritical,
    .risk-moderatelycritical,
    .risk-critical,
    .risk-lesscritical {
      padding: 0.6em;
      padding-top: 0.8em;
    }
  }
  #content-main {
    z-index: -10;
    .publish-info {
      padding: 1em;
      margin-top: 0px;
    }
  }

  #widthsetter {
    width: 1040px;
  }

  .login-messages {
    padding-left: 5px;
    padding-right: 5px;
    .card.messages {
      max-width: 400px;
      min-width: 400px;
      margin: 0 auto;
    }
  }

  .action-links,
  .card {
    &.messages {
      background-image: none;
      padding: 0.5em 0.75em;
      border: none;
      color: #FFF;
      &.error {
        background-color: $status_red;
      }
      &.status {
        background-color: $status_green;
      }
      &.warning {
        background-color: $status_yellow;
      }
      ul li {
        list-style-type: none
      }
    }
    .card-title {
      color: #333;
    }
    &:last-child {
      margin-bottom: 0.5em;
    }
    margin-top: 0.5em;
    a {
      color: #333 !important
    }
    background-color: #fff;
  }

  .action-links {
    li {
      list-style-type: none;
    }
    display: inline-block;
    width: auto;
    margin-bottom: 10px;
  }

  .risk-highlycritical {
    padding: 2px;
    border-radius: $border-radius;
    color: #FFF;
    background-color: $risk_highly_critical;
  }

  .risk-moderatelycritical {
    padding: 2px;
    border-radius: $border-radius;
    color: #FFF;
    background-color: $risk_moderately_critical;
  }

  .risk-critical {
    padding: 2px;
    border-radius: $border-radius;
    color: #FFF;
    background-color: $risk_critical;
  }

  .risk-lesscritical {
    padding: 2px;
    border-radius: $border-radius;
    color: #FFF;
    background-color: $risk_less_critical;
  }
}

.logo {
  margin-left: 10px;
  margin-top: 3px; 
  &.center {
    margin-left: 49%;
  }
}

.site-name {
  display: inline-block;
  position: absolute;
  margin-left: 10px; 
}

.page-client-site {
  #content-main {
    .client-projects {
      margin-top: 7px;
      margin-bottom: 0.5em;
    }
    td {
      &.secure {
        background-color: lighten($risk_less_critical, 10%);
        color: #fff;
      }
      &.unsecure {
        background-color: lighten($risk_highly_critical, 10%);
        color: #fff;
      }
      &.unsupported {
        background-color: lighten($risk_unsupported, 10%);
        color: #fff;
      }
      &.latest {
        background-color: lighten($risk_latest, 10%);
        color: #fff;
      }
    }
  }
}

.content-title {
  padding-bottom: 20px;
}

.samurai-blue {
  background-color: $menu_background_color;
  &:hover {
    background-color: lighten($menu_background_color, 10%);
  }
}

.card.popup {
  transition: box-shadow 0.2s ease;
}

.card.popup:hover {
  z-index: 9;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.flatten {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.collapsible-body {
  background-color: #FFF;
}
